*{
    padding: 0;
    margin: 0;
}
/* top header start here */
.top-header{
    background-color: #efefef;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}
.top-header p{
    color: #7f7f7f;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500; 
}
.top-header .navbar{
    padding: 0;
    }
.top-header .nav-link{
    padding: 0;
}
.top-header .navbar-light .navbar-nav .nav-link {
    color: #7f7f7f
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link {
    color: #161616;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
}
.btn-primary, .btn-custom {
    color: #fff;
    background-color: #ff9b1a;
    /* border-color: #007bff; */
    /* background: #ff9b1a; */
    padding: 10px 15px !important;
    border-radius: 50px;
    color: #fff !important;
    border: none;
}
.btn-primary:hover{
    background-color: #d37801;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ff9b1a;
    
}
.banner{
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
}
.banner img{
    
} 
.hero-text{
    align-items: center;
}
.hero-text h1 {
    color: #fff;
    text-transform: capitalize;
    margin: 25px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 39px;
    font-weight: 600;
}
.mid-text{
    color: #fff;
    font-size: 12px;
    justify-content: space-between;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.mid-text h5{
    
}
.mid-text h6{
    
}
.btn-primary-two{
    color: #fff;
    padding: 10px 15px !important;
    border-radius: 50px;
    color: #fff !important;
    border: 1px solid #fff;
    margin: 15px 15px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.btn-primary-three{
    color: #fff;
    padding: 10px 15px !important;
    border-radius: 50px;
    color: #fff !important;
    border: 1px solid #fff; 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    
}
.btn-primary-two:hover{
    background-color: #ff9b1a;
}
.btn-primary-three:hover{
    background-color: #ff9b1a;
}
.hg{
    min-height: 80vh;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

